body {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    text-align: center;
    margin:auto;
    background-color: rgb(255, 255, 255);
}

.flex-container {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    width:100%;
    height:100px;
    position: fixed;
    top:0;
    background-color: white;
    z-index:10;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header h1{
    margin-left:40px;
    flex-shrink: 3;
}

nav span {
    margin: 0 40px;
    flex-shrink: 3;
}

a {
    color:black;
    text-decoration: none;
    cursor:pointer;
}

.banner {
    width:100%;
    color: white;
    background-color: rgb(7, 0, 56);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-left:auto;
    margin-right:auto;
}

.banner p{
    font-size: 30px;
}

main {
    padding-top:100px;
    margin:auto;
}

.content {
    width:95%;
    flex-direction: column;
    position: relative;
    margin:auto;
}

.content a {
    text-decoration: underline;
}

.pages{
    margin: auto;
    width: 95%;
}

.item-line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
    padding: 50px 0;

}

/* Box general animation */

.box {
    position: relative;
    overflow:hidden;
    height: 400px;
    width:400px;
}

.box .txt,
.box .illustration {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: all 0.40s ease-in-out 0.2s;
}

.box .txt {
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt h2 {
    font-variant: small-caps;
    color: rgb(7, 0, 56);
    border: rgb(7, 0, 56) solid 1.1px;
    font-size: 2.8rem;
}

#box_border{
    border: rgb(7, 0, 56) solid 3px;
}

/* Box specifics */
.box1 img {
    height:100%;
    width: auto;
}

.box2 img {
    height:auto;
    width: 100%;
}

.box1 .txt {
    left: 0px;
}

.box1 .illustration {
    right:0;
}

.box2 .txt {
    right:0;
}

.box2 .illustration {
    left:0;
}
.box1:hover .txt {
    left: -100%;
}

.box2:hover .txt {
    right:-100%;
}

/* END BOX */

#homepagecontact{
    width: 200px;
    height:90px;
    border: rgb(7, 0, 56) solid 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homepagecontact:hover{
    color: white;
    background-color: rgb(7, 0, 56);
}

footer {
    position: relative;
    background-color: rgb(7, 0, 56);
    height:100px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin-top: 50px;
}

footer span {
    color:white;
    padding-left: 20px;
}

/* About page specifics*/
.bio {
    width: 95%;
}

.bio img {
    width: 1000px;
    margin-bottom:50px;
    margin-left:auto;
    margin-right:auto;
}



/* Article pages specifics */
#info {
    width: 100%;
    margin: 20px auto;
}

.articleBox {
    width: 70%;
    height: 200px;
    margin: auto;
    margin-bottom: 75px;
    background-color: rgba(7, 0, 56, 0.85);
}

.articleImageBox {
    width: 400px;
    height: auto;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.articleImageBox img {
    width:200px;
    height:200px;
}

.articleDescriptionBox {
    width: 500px;
    height: auto;
    display: inline-block;
    color:rgb(7, 0, 56);
    position: absolute;
    right:25%;
    opacity: 0;
    color:white;
}

#articleButton {
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width:150px;
    height:50px;
    color:white;
    border: white solid 1px;
}

#articleButton:hover {
    color:rgb(7, 0, 56);
    background-color: white
}

.articlenameBox {
    width:70%;
    height:40px;
    margin: auto;
    color: white;
    background-color: rgba(7, 0, 56, 0.95);
    border: white solid 2px;
}

/* Analyses specifics */
iframe {
    padding: 20px;
    background-color: rgb(7, 0, 56);
    width:"600px";
    height:"550px";
}

/* Contact page specifics */

.contact {
    width:90%;
    margin:auto;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

#contact-pic {
    width:auto;
    height:500px;
}

.form-container {
    padding:20px;
    background-color: rgba(0, 0, 0, 0.05);
    border:rgb(7, 0, 56) 1px solid;
}

.inputs {
    width:500px;
    height: 30px;
    text-align: center;
    margin: 5px;
}

.message {
    height: 200px;
    resize:none;
}